importing libraries

In [10]:
import pandas as pd

In [11]:
df_data=pd.read_excel('one_hot_encoding.xlsx')

In [12]:
df_data

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  5000  750000
4   monroe township  3600  680000
5      west windsor  4000  725000
6      west windsor  2500  500000
7      west windsor  3100  510000
8      west windsor  3800  700000
9      west windsor  4100  725500
10     robbinsville  2900  560000
11     robbinsville  4500  750000
12     robbinsville  2700  555000
13     robbinsville  3500  670000
14     robbinsville  3400  666000

get dummies

In [15]:
dummies=pd.get_dummies(df_data.town,dtype=int)

In [17]:
merged_data=pd.concat([df_data,dummies],axis='columns')
merged_data

               town  area   price  monroe township  robbinsville  west windsor
0   monroe township  2600  550000                1             0             0
1   monroe township  3000  565000                1             0             0
2   monroe township  3200  610000                1             0             0
3   monroe township  5000  750000                1             0             0
4   monroe township  3600  680000                1             0             0
5      west windsor  4000  725000                0             0             1
6      west windsor  2500  500000                0             0             1
7      west windsor  3100  510000                0             0             1
8      west windsor  3800  700000                0             0             1
9      west windsor  4100  725500                0             0             1
10     robbinsville  2900  560000                0             1             0
11     robbinsville  4500  750000                0             1             0
12     robbinsville  2700  555000                0             1             0
13     robbinsville  3500  670000                0             1             0
14     robbinsville  3400  666000                0             1             0

In [18]:
final_data=merged_data.drop(['town','west windsor'],axis='columns')
final_data

    area   price  monroe township  robbinsville
0   2600  550000                1             0
1   3000  565000                1             0
2   3200  610000                1             0
3   5000  750000                1             0
4   3600  680000                1             0
5   4000  725000                0             0
6   2500  500000                0             0
7   3100  510000                0             0
8   3800  700000                0             0
9   4100  725500                0             0
10  2900  560000                0             1
11  4500  750000                0             1
12  2700  555000                0             1
13  3500  670000                0             1
14  3400  666000                0             1

create linear regression model

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
model=LinearRegression()

In [22]:
x=final_data.drop(['price'],axis='columns')
x

    area  monroe township  robbinsville
0   2600                1             0
1   3000                1             0
2   3200                1             0
3   5000                1             0
4   3600                1             0
5   4000                0             0
6   2500                0             0
7   3100                0             0
8   3800                0             0
9   4100                0             0
10  2900                0             1
11  4500                0             1
12  2700                0             1
13  3500                0             1
14  3400                0             1

In [23]:
y=final_data.price

In [24]:
model.fit(x,y)

LinearRegression()

In [25]:
model.predict([[2800,0,1]])

c:\Users\Tasneem Fathima\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([571890.64748201])

In [26]:
model.predict([[3400,0,0]])

c:\Users\Tasneem Fathima\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([620715.10791367])

In [27]:
model.score(x,y)

0.8555716015524846

In [28]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [37]:
dfle=df_data

dfle.town=le.fit_transform(dfle.town)

In [71]:
x=dfle[['town','area']].values
x

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 5000],
       [   0, 3600],
       [   2, 4000],
       [   2, 2500],
       [   2, 3100],
       [   2, 3800],
       [   2, 4100],
       [   1, 2900],
       [   1, 4500],
       [   1, 2700],
       [   1, 3500],
       [   1, 3400]], dtype=int64)

In [72]:
y=dfle.price

In [40]:
from sklearn.preprocessing import OneHotEncoder

In [103]:
ohe=OneHotEncoder()

In [104]:
x

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 5000],
       [   0, 3600],
       [   2, 4000],
       [   2, 2500],
       [   2, 3100],
       [   2, 3800],
       [   2, 4100],
       [   1, 2900],
       [   1, 4500],
       [   1, 2700],
       [   1, 3500],
       [   1, 3400]], dtype=int64)

In [105]:
x_encoded = ohe.fit_transform(x)

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).

In [101]:
x_encoded

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])